<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.ndaru_oto">
    <!-- Deklarasi package aplikasi -->
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Izin untuk mengakses internet, diperlukan untuk aplikasi yang menggunakan koneksi jaringan -->

    <application
        android:label="NdaruOto"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Konfigurasi aplikasi utama -->
        <!-- android:label menentukan nama aplikasi yang akan ditampilkan kepada pengguna -->
        <!-- android:name menentukan nama kelas aplikasi, diambil dari variabel build ${applicationName} -->
        <!-- android:icon menentukan ikon aplikasi yang digunakan, diambil dari resources mipmap -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Konfigurasi aktivitas utama aplikasi -->
            <!-- android:name menentukan kelas aktivitas utama yaitu MainActivity -->
            <!-- android:exported mengatur apakah aktivitas ini dapat diakses oleh aplikasi lain (true) -->
            <!-- android:launchMode mengatur mode peluncuran aktivitas, singleTop berarti hanya ada satu instance aktivitas ini di bagian atas tumpukan -->
            <!-- android:theme menentukan tema yang digunakan untuk aktivitas ini, diambil dari style resources -->
            <!-- android:configChanges mengatur perubahan konfigurasi yang ditangani aktivitas ini sendiri -->
            <!-- android:hardwareAccelerated mengaktifkan akselerasi hardware untuk aktivitas ini -->
            <!-- android:windowSoftInputMode mengatur bagaimana input lembut (keyboard) disesuaikan, adjustResize akan menyesuaikan ukuran aktivitas -->

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <!-- Meta-data untuk mengatur tema normal yang digunakan saat proses Flutter dimulai -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Filter intent untuk menentukan bahwa aktivitas ini adalah titik masuk utama aplikasi -->
            <!-- android.intent.action.MAIN menunjukkan bahwa ini adalah titik masuk utama -->
            <!-- android.intent.category.LAUNCHER menunjukkan bahwa aktivitas ini muncul di peluncur aplikasi -->
        </activity>

        <provider
            android:name="com.pichillilorenzo.flutter_inappwebview.InAppWebViewFileProvider"
            android:authorities="${applicationId}.flutter_inappwebview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- Penyedia konten untuk mendukung fitur In-App WebView dalam aplikasi Flutter -->
            <!-- android:name menentukan kelas penyedia konten -->
            <!-- android:authorities menentukan otoritas penyedia, menggunakan variabel build ${applicationId} -->
            <!-- android:exported mengatur apakah penyedia ini dapat diakses oleh aplikasi lain (false) -->
            <!-- android:grantUriPermissions mengizinkan pemberian izin URI kepada penyedia ini -->

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
            <!-- Meta-data untuk menentukan jalur file yang digunakan oleh penyedia konten -->
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <!-- Meta-data untuk menentukan versi embedding Flutter yang digunakan (versi 2) -->
    </application>
</manifest>
